* {
    margin: 0;
    padding: 0;

    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none;

              
    font-family: 'Roboto', sans-serif;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

/* .week-day-names {
    display: flex;
}

.week-day-short {
    font-size: 14px;
    width: 40px;
    height: 30px;
    background-color: rgb(83, 161, 235);
    display: flex;
}

.week-day-short>p {
    margin: auto;
}

.day-picker {
    display: flex;
    flex-wrap: wrap;
    width: 280px;
}
*/
.day {
    margin: auto;
    width: 40px;
    height: 40px;
    background-color: white;
    display: flex;
}

.day-round {
    margin: auto;
    width: 30px;
    height: 30px;
    background-color: white;
    display: flex;
}

.day-round:hover {
    border-radius: 25px;
    margin: auto;
    width: 30px;
    height: 30px;
    background-color: rgb(221, 221, 221);
    display: flex;
}
 
.this-day>.day-round {
    background-color: rgb(83, 161, 235);
    border-radius: 25px;
    margin: auto;
    width: 30px;
    height: 30px;
}

/* .day-round>p {
    font-size: 14px;
    margin: auto;
} */
/*
.picker {
    height: 30px;
    background-color: white;
}

.picker>p {
    margin: auto 6px;
}

.month-picker {
    display: flex;
    justify-content: space-between;
}

.arrows {
    margin: auto 10px;
    width: 50px;
    display: flex;
    justify-content: space-around;
}

i {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
} */