* {
    margin: 0;
    padding: 0;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

.header {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: grey;
}

.label {
    margin: auto 0; 
}

/* .drop-down-menu {
    display: flex;
    flex-flow: column;
} */

.user-block {
    height: 40px;
    display: flex;
}

.user-name {
    margin: auto;
}

.menu-item {
    background-color: blue;
    height: 40px;
}

.menu-items {
    z-index: 1;
    position: absolute;
}

.main-board {
    display: flex;
}

.main-panel {
    height: 1000px;
    width: 70%;
    background-color: red;
    display: flex;
    flex-flow: column;
}

.week-day-names {
    display: flex;
}

.date-picker {
    display: flex;
    flex-flow: column;
}


.main-block {
    margin: 0 auto;
    height: 1000px;
    width: 700px;
    background-color: yellow;
}

.side-panel {
    height: 1000px;
    width: 30%;
    background-color: green;
}

.week-day-short {
    width: 30px;
    height: 30px;
    background-color: orange;
}

.days-block {
    display: flex;
    flex-wrap: wrap;
    width: 210px;
}

.day {
    width: 30px;
    height: 30px;
    background-color: white;
    /* border: 1px solid black; */
}
.day:hover {
    background-color: aqua;
}